html, body, #page-one, #page-two, #page-three, #page-four {
	height:auto;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;

}

#page-one, #page-two, #page-three, #page-four {
    padding-top:2em;
}


.sidebar {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 400px;
    background-color: white;
    position: fixed;
    overflow: auto;
}



.sidebar a {
    display: block;
    color: black;
    padding: 16 px;
    text-decoration: none;
}

img {
    border-radius: 15%;
    scale: 50%;
    width:50%;
    height: auto;
    position: center;
}

a, a:link, a:visited, a:hover, a:active {
    color: black; 
    text-decoration:none;
    display:inline-block;
    padding:0 1em;
}

a:hover {
    color: green;
}

li {
    list-style-type: none;
    display: inline-block;
}


h1 {
    font-size:3em; 
    padding-top:1em; 
    text-align:center;
    color: black;
}

h2 {
    font-size:3em; 
    padding-top:1em; 
    text-align:center;
    color: white;
}

h3 {
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top:2em;
}

#page-one {
    background-color: black;

}

#page-three {
    background-color: #97989A;
}
#page-two {
    background-color: #545559;
}

#page-four {
    background-color: white;
}


.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.hover08 figure img {
    padding: 10px;
    scale: 125%;
    width: 125%;
    position: center;
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: none;
        color: black;
        text-align: center;
}